@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --blue: #2b6cb0;
    --gray: #979797;
    --light-gray: #e2e8f0;
    --red: #e53e3e;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    margin: 2rem 0;
    font-weight: bold;
}

.time-select {
    height: 35px;
    padding: 5px;
    max-width: 184.4px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--gray);
}

.secondary-title {
    margin: 2rem 0;
}

.selector {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
    border-bottom: 2px solid #e2e8f0;
}

.selector > a {
    cursor: pointer;
    text-align: center;
    max-width: 100px;
    margin-bottom: -2px;
    width: 100%;
    padding: 0.5rem;
}

.selector > a.active {
    border-bottom: 2px solid var(--blue);
}

.selector > a:hover {
    background-color: var(--light-gray);
}

.layout {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.model-inputs {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-control input {
    height: 35px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--gray);
}

.form-control input:focus {
    outline: none;
    border: 1px solid var(--blue);
    box-shadow: #3182ce 0px 0px 0px 1px;
}

.error-msg {
    color: var(--red);
    font-size: 0.825rem;
}

.results-container {
    margin: 3rem 0;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.probabilities {
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    max-height: 300px;
    height: fit-content;
    overflow-y: auto;
    max-width: 470px;
}

.probabilities::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.probabilities::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
.probabilities::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
.probabilities::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
.probabilities::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

.probabilities table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    line-height: 24px;
    overflow-x: auto;
}

.probabilities tr {
    border-bottom: 1pt solid var(--light-gray);
}

.probabilities td,
th {
    padding: 0.75rem 1.5rem;
    text-align: start;
}

.probabilities tbody > tr:last-child {
    border-bottom: 0;
}

@media (max-width: 480px) {
    .form-control {
        width: 100%;
    }
}
